.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/images/bg1.png');
  background-size: cover;
}

.head-cut {
  display: flex;
  height: 20px;
  width: 450px;
  background-color: #303030;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 30px;
}
.title h5 {
  color: white;
}

.bgImg {
  width: 100%;
  height: 100%;
}

.foot {
  margin-top: 50px;
  display: flex;
  width: 370px;
  height: 60px;
  background-color: #ffab2d;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 25px;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}

.content button {
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  width: 350px;
  height: 150px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
}
.content text {
  position: absolute;
  color: white;

}

.content button img {
  position: relative;
  right: 20px;
  bottom: 5px;
}

.content button:hover {
  border: 2px solid #ffab2d;
  border-radius: 10px;
  transition: 0.5s;
}