.daily-exercise-container {
  width: 450px;
  height: 720px;
}

.daily-exercise-container .list-exercise {
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 640px;
  overflow-y: scroll;
}

.daily-exercise-container .list-exercise::-webkit-scrollbar {
  display: none;
}

.daily-exercise-container .list-exercise p {
  color: #ffab2d;
  font-weight: bold;
}

.daily-exercise-container .list-exercise li {
  list-style: none;
}
