.common-button {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 70px;
  background-color: #7b7b7b;
  border-radius: 8px;
  color: #f1f1f1;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
}
