.btn-group-gender{
    width: 100%;
    height: 64px;
    border-radius: 16px;
    background-color: #7D7D7D;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    font-family: 'Kanit';
    margin-bottom: 20px;
}

.btn-default{
    width: 50%;
    height: 100%;
    color: #B2B2B2;
    background-color: #7D7D7D;
    border-radius: 16px;
    border-width: 0;
}

.btn-active{
    width: 50%;
    height: 100%;
    color: #2B2B2B;
    background-color: #FFAB2D;
    border-radius: 16px;
    border-width: 0;
}   