.header-container {
  display: flex;
  background-color: #ffab2d;
  border-color: #414141;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.header-small-box {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header-large-box {
  flex: 5;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-text {
  box-sizing: border-box;
  font-weight: 600;
  font-size: 24px;
  font-family: 'Kanit';
}
