.exercise-title {
    color: #ffab2d;
    font-weight: bold;
}

.exercise-detail {
    display: block;
    width: 350px;
    height: 100px;
    background-color: bisque;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    padding: 20px;
}