/* App.css */
.app-container {
  display: flex;
  height: 100vh; /* Chiều cao 100% của viewport */
}

.white-background {
  flex: 1; /* Chiếm phần còn lại của màn hình */
  background-color: white;
}

.content-container {
  flex: 1; /* Chiếm 1/3 màn hình */
  background-color: #414141; /* Màu nền của phần chiếm 1/3 màn hình */
  display: flex;
  flex-direction: column;
  /* justify-content: center; Căn giữa theo chiều ngang */
  align-items: center; /*Căn giữa theo chiều dọc*/
}
